# Coursera Capstone

This notebook will be used mainly for Coursera IBM Data Science Specilization Capstone Project

In [1]:
# Importing required libraries
import pandas as pd
import numpy as np

In [2]:
# convert an address into latitude and longitude values 
from geopy.geocoders import Nominatim

In [3]:
# Checking coordinates of Toronto
address = 'London'

geolocator = Nominatim(user_agent="ny_explorer")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinates of Toronto are {}, {}.'.format(latitude, longitude))

The geograpical coordinates of Toronto are 51.5073219, -0.1276474.

In [4]:
# Checking coordinates of Toronto
address = 'Paris'

geolocator = Nominatim(user_agent="ny_explorer")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinates of Toronto are {}, {}.'.format(latitude, longitude))

The geograpical coordinates of Toronto are 48.8566969, 2.3514616.

In [5]:
 # Loading data
london= pd.read_html('https://en.wikipedia.org/wiki/List_of_areas_of_London')

In [7]:
type(london)

list

In [11]:
london[1]

,Location,London borough,Post town,Postcode district,Dial code,OS grid ref
0,Abbey Wood,"Bexley, Greenwich [7]",LONDON,SE2,020,TQ465785
1,Acton,"Ealing, Hammersmith and Fulham[8]",LONDON,"W3, W4",020,TQ205805
2,Addington,Croydon[8],CROYDON,CR0,020,TQ375645
3,Addiscombe,Croydon[8],CROYDON,CR0,020,TQ345665
4,Albany Park,Bexley,"BEXLEY, SIDCUP","DA5, DA14",020,TQ478728
...,...,...,...,...,...,...
527,Woolwich,Greenwich,LONDON,SE18,020,TQ435795
528,Worcester Park,"Sutton, Kingston upon Thames",WORCESTER PARK,KT4,020,TQ225655
529,Wormwood Scrubs,Hammersmith and Fulham,LONDON,W12,020,TQ225815
530,Yeading,Hillingdon,HAYES,UB4,020,TQ115825
531,Yiewsley,Hillingdon,WEST DRAYTON,UB7,020,TQ063804

In [12]:
london_borough= london[1]

In [13]:
london_borough.shape

(532, 6)

In [ ]:
london_borough.