# Coursera Capstone

This notebook will be used mainly for Coursera IBM Data Science Specilization Capstone Project

In [23]:
# Importing required libraries
import pandas as pd
import numpy as np

In [24]:
# convert an address into latitude and longitude values 
from geopy.geocoders import Nominatim

In [3]:
# Checking coordinates of Toronto
address = 'London'

geolocator = Nominatim(user_agent="ny_explorer")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinates of Toronto are {}, {}.'.format(latitude, longitude))

The geograpical coordinates of Toronto are 51.5073219, -0.1276474.

In [4]:
# Checking coordinates of Toronto
address = 'Paris'

geolocator = Nominatim(user_agent="ny_explorer")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinates of Toronto are {}, {}.'.format(latitude, longitude))

The geograpical coordinates of Toronto are 48.8566969, 2.3514616.

In [5]:
 # Loading data
london= pd.read_html('https://en.wikipedia.org/wiki/List_of_areas_of_London')

In [7]:
type(london)

list

In [11]:
london[1]

,Location,London borough,Post town,Postcode district,Dial code,OS grid ref
0,Abbey Wood,"Bexley, Greenwich [7]",LONDON,SE2,020,TQ465785
1,Acton,"Ealing, Hammersmith and Fulham[8]",LONDON,"W3, W4",020,TQ205805
2,Addington,Croydon[8],CROYDON,CR0,020,TQ375645
3,Addiscombe,Croydon[8],CROYDON,CR0,020,TQ345665
4,Albany Park,Bexley,"BEXLEY, SIDCUP","DA5, DA14",020,TQ478728
...,...,...,...,...,...,...
527,Woolwich,Greenwich,LONDON,SE18,020,TQ435795
528,Worcester Park,"Sutton, Kingston upon Thames",WORCESTER PARK,KT4,020,TQ225655
529,Wormwood Scrubs,Hammersmith and Fulham,LONDON,W12,020,TQ225815
530,Yeading,Hillingdon,HAYES,UB4,020,TQ115825
531,Yiewsley,Hillingdon,WEST DRAYTON,UB7,020,TQ063804

In [12]:
london_borough= london[1]

In [13]:
london_borough.shape

(532, 6)

In [14]:
london_borough.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 532 entries, 0 to 531
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Location           532 non-null    object
 1   London borough     532 non-null    object
 2   Post town          532 non-null    object
 3   Postcode district  532 non-null    object
 4   Dial code          532 non-null    object
 5   OS grid ref        530 non-null    object
dtypes: object(6)
memory usage: 25.1+ KB

In [17]:
london_borough.columns

Index(['Location', 'London borough', 'Post town', 'Postcode district',
       'Dial code', 'OS grid ref'],
      dtype='object')

In [32]:
london_borough.iloc[:,3].value_counts()

CR0                9
E14                8
N1                 7
E1                 7
NW10               7
                  ..
SE21, SE26         1
KT2                1
N11, N10           1
SW7                1
SE9, DA14, DA15    1
Name: Postcode district, Length: 282, dtype: int64

In [37]:
london_borough[london_borough.iloc[:,3]=='WC2']

,Location,London borough,Post town,Postcode district,Dial code,OS grid ref
7,Aldwych,Westminster[10],LONDON,WC2,020,TQ307810
87,Charing Cross,Westminster,LONDON,WC2,020,TQ305805
114,Covent Garden,Westminster,LONDON,WC2,020,TQ303809
430,St Giles,Camden,LONDON,WC2,020,TQ305815

In [38]:
london_borough[london_borough.iloc[:,3]=='WC1']

,Location,London borough,Post town,Postcode district,Dial code,OS grid ref
54,Bloomsbury,Camden[29],LONDON,WC1,020,TQ305825
268,King's Cross,"Camden, Islington",LONDON,WC1,020,TQ315835
435,St Pancras,Camden,LONDON,WC1,020,TQ305825

In [41]:
london_borough[london_borough.iloc[:,3]=='EC1']

,Location,London borough,Post town,Postcode district,Dial code,OS grid ref
103,Clerkenwell,Islington,LONDON,EC1,020,TQ315825
168,Farringdon,"Islington, City",LONDON,EC1,020,TQ315818
171,Finsbury,Islington,LONDON,EC1,020,TQ315825
433,St Luke's,Islington,LONDON,EC1,020,TQ325825

In [43]:
london_borough[london_borough.iloc[:,3]=='EC4']

,Location,London borough,Post town,Postcode district,Dial code,OS grid ref
49,Blackfriars,City[27],LONDON,EC4,020,TQ318808